{% extends 'base.html' %}
{% block content %}


<h3 style="font-style: italic;text-shadow: 2px 2px gray;"><u>Task to be complited</u></h3>

            <div class="shadow card" style="background-color:hsla(0, 100%, 50%, 0.2);;">
                <div class="card-body">
                    <h5 class="card-title">{{task1.name}}</h5>
                    <p><b>{{task1.priority}}</b></p>
                    <p><b>{{task1.date}}</b></p>
                    <a class="btn btn-danger" href="{% url 'todo:delete' task1.id  %}">Done</a>
                    <a class="btn btn-info" href="{% url 'todo:update' task1.id  %}">Update</a>

                </div>
            </div>


{% endblock %}